EXERCISE ONE

In [21]:
empty_list = []
lst_1 = [1, 2, 3, 4, 5, 6]
print(len(lst_1))
print(lst_1[0])
print(lst_1[len(lst_1)//2])
print(lst_1[-1])

mixed_data_types = ['Al-amin', 24, '6 feet', 'single', 'Darmanawa Quarters, Tarauni L.G.A']
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)
print('Number of companies: ', len(it_companies))
print('first Item: ', it_companies[0])
print('middle_item: ', it_companies[len(it_companies)//2])
print('last_item: ', it_companies[-1])

it_companies[0] = 'Tweeter'
print(it_companies)
it_companies.append('Coursera')
it_companies.insert(len(it_companies)//2, 'Yahoo')
it_companies[0] = it_companies[0].upper()
print(it_companies)

6
1
4
6
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Number of companies:  7
first Item:  Facebook
middle_item:  Apple
last_item:  Amazon
['Tweeter', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
['TWEETER', 'Google', 'Microsoft', 'Apple', 'Yahoo', 'IBM', 'Oracle', 'Amazon', 'Coursera']

In [25]:
if 'Google' in it_companies:
    print('yes')
else:
    print('NO')

yes

In [26]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Coursera', 'Google', 'IBM', 'Microsoft', 'Oracle', 'TWEETER', 'Yahoo']

In [31]:
it_companies.reverse()
print(it_companies)

['Yahoo', 'TWEETER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Coursera', 'Apple', 'Amazon']

In [32]:
first_three_item = it_companies[:3]
print(first_three_item)

['Yahoo', 'TWEETER', 'Oracle']

In [34]:
last_three_item = it_companies[-3:]
print(last_three_item)

['Coursera', 'Apple', 'Amazon']

In [35]:
middle_company = it_companies[len(it_companies)//2]
print(middle_company)

IBM

In [ ]:
it_companies.pop(0)

In [40]:
it_companies.pop(len(it_companies)//2)

'Google'

In [41]:
it_companies.pop(len(it_companies)-1)

'Amazon'

In [42]:
it_companies.clear()

In [43]:
del it_companies

In [44]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

joined_lst = front_end + back_end
print(joined_lst)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [51]:
fullstack = joined_lst.copy()
fullstack.insert(fullstack.index('Redux')+1, 'Python')
fullstack.insert(fullstack.index('Python')+1, 'SQL')

In [52]:
fullstack

['HTML',
 'CSS',
 'JS',
 'React',
 'Redux',
 'Python',
 'SQL',
 'Node',
 'Express',
 'MongoDB']

In [46]:
fullstack.index('Redux')

4

EXERSISE TWO

In [53]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [60]:
ages.sort()
print(ages)
print('Min Ages: ', min(ages))
print('Max Ages: ', max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Ages:  19
Max Ages:  26

In [70]:
if len(ages) % 2 == 0:
    print('Median Ages is: ', ages[len(ages)//2])
else: 
    print('Median Ages is: ', ages[len(ages)//2:len(ages)//2+1])

Median Ages is:  24

In [71]:
print('Range of the Ages is : ', max(ages) - min(ages))

Range of the Ages is :  7

In [77]:
print(min(ages) - ages.average())
print(max(ages) - mean(ages))

AttributeError: 'list' object has no attribute 'average'

In [85]:
print('min - average is : ', abs(min(ages) - sum(ages)/len(ages)))
print('max - average is : ', abs(max(ages) - sum(ages)/ len(ages)))

min - average is :  3.8000000000000007
max - average is :  3.1999999999999993

In [86]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

In [88]:
countries[-1]

'Zimbabwe'

In [92]:
print('Mid Country is : ',countries[len(countries) // 2])

Mid Country is :  Lesotho

In [94]:
if len(countries) % 2 ==0:
    first_halve = countries[:len(countries)//2]
    second_halve = countries[len(countries)//2:]
else:
    first_halve = countries[:len(countries)//2+1]
    second_halve = countries[len(countries)//2+1:]

In [96]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first, second, third, *rest = countries