Exercise: Level 1

In [1]:
def add_two_numbers(num1, num2):
    return num1 + num2

In [2]:
add_two_numbers(2, 3)

5

In [11]:
def area_circle(radius):
    import math
    return math.pi * radius**2

In [12]:
area_circle(2)

12.566370614359172

In [26]:
def add_all_nums(*nums):
    count = 0
    for i in nums:
        if type(i) != int:
            return 'wrong data type'
        count += i
    return count

In [29]:
add_all_nums(2,3,3, '2')

'wrong data type'

In [31]:
def convert_celsius_to_fahrenheit(value):
    return value * ( 9 / 5) + 32

In [32]:
convert_celsius_to_fahrenheit(32)

89.6

In [33]:
def check_season(season):
    if season in ['December', 'January', 'Febuary']:
        return 'Winter'
    elif season in ['June', 'July', 'August']:
        return 'Summer'
    elif season in ['March', 'April', 'May']:
        return 'Spring'
    elif season in ['September', 'October', 'November']:
        return 'Autumn'
    return 'Wrong input'

In [36]:
check_season('July')

'Summer'

In [ ]:
def calculate_slope(eqn):
    return

In [12]:
import math
def solve_quadratic_eqn(a, b, c):
    ans_1 = -b + math.sqrt(b**2 - 4*a*c) / 2*a
    ans_2 = -b - math.sqrt(b**2 - 4*a*c) / 2*a
    
    return print('The answer is either {} or {}'.format(ans_1, ans_2))

In [13]:
solve_quadratic_eqn(1, 2, 1)

The answer is either -2.0 or -2.0

In [21]:
def print_list(nums):
    for i in nums:
        print(i)

In [22]:
print_list([1, 3, 4])

1
3
4

In [23]:
def reverse_list(array):
    for i in range(len(array)//2):
        array[i], array[len(array)-1-i] = array[len(array)-1-i], array[i]
    return array

In [25]:
reverse_list([1, 2, 3, 4, 5])

[5, 4, 3, 2, 1]

In [33]:
def capitalize_list_items(lst):
    for i in range(len(lst)):
        lst[i] = lst[i].upper()
    return lst

In [34]:
capitalize_list_items(['a', 'b'])

['A', 'B']

In [35]:
def add_item(lst, item):
    lst.append(item)
    return lst

In [37]:
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
print(add_item(food_staff, 'Meat')) 
numbers = [2, 3, 7, 9];
print(add_item(numbers, 5))

['Potato', 'Tomato', 'Mango', 'Milk', 'Meat']
[2, 3, 7, 9, 5]

In [39]:
def remove_item(lst, item):
    lst.remove(item)
    return lst

In [40]:
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];
numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))

['Potato', 'Tomato', 'Milk']
[2, 7, 9]

In [44]:
def sum_of_numbers(num):
    sum = 0
    for i in range(num+1):
        sum += i
    return sum

In [45]:
print(sum_of_numbers(5))  # 15
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

15
55
5050

In [46]:
def sum_of_odds(num):
    sum = 0
    for i in range(num + 1):
        if i % 2 != 0:
            sum += i
    return sum

In [47]:
sum_of_odds(5)

9

In [48]:
def sum_of_even(num):
    sum = 0
    for i in range(num + 1):
        if i % 2 == 0:
            sum += i
    return sum

In [49]:
sum_of_even(5)

6

Exercises: Level 2

In [50]:
def evens_and_odds(num):
    count_even = 0
    count_odd = 0
    for i in range(num + 1):
        if i % 2 == 0:
            count_even += 1
        else:
            count_odd += 1
    print('the number of even is ', count_even)
    print('the number of odd is ', count_odd)

In [52]:
print(evens_and_odds(100))

the number of even is  51
the number of odd is  50
None

In [64]:
def factorial(num):
    for i in range(num-1, 1, -1):
        num *= i
    return num

In [67]:
factorial(5)

120

In [73]:
def is_empty(var):
    if len(var) >= 1:
        return 'not empty'
    return 'empty'

In [75]:
is_empty([])

'empty'

In [146]:
import math
def calculate_mean(lst):
    sum = 0
    for i in lst:
        sum+=i
    return sum / len(lst)

def calculate_median(lst):
    lst  =  sorted(lst)
    if len(lst) % 2 != 0:
        median = lst[len(lst)//2]
    else:
        median = (lst[len(lst)//2] + lst[len(lst)//2 - 1]) / 2
    return median

def calculate_mode(lst):
    counts = []
    for i in set(lst):
        counts.append(lst.count(i))
    mode_index = counts.index(max(counts))

    return list(set(lst))[mode_index]

def calculate_range(lst):
    min_value = min(lst)
    max_value = max(lst)
    return (max_value - min_value)  

def calculate_variance(lst):
    mean_value = calculate_mean(lst)
    var = []
    for i in lst:
        var.append((i - mean_value)**2)
    return sum(var) / len(lst)
def calculate_std(lst):
    return math.sqrt(calculate_variance(lst))

Exercises: Level 3

In [169]:
def is_prime(num):
    for i in range(2, num):
        if num % i == 0:
            return 'not prime'
    return 'prime'

def is_unique(lst):
    if len(set(lst)) == len(lst):
        return 'all items are unique'
    return 'not unique'

def is_same_data_type(lst):
    data_type = []
    for i in lst:
        data_type.append(type(i))
    
    if len(set(data_type)) > 1:
        return 'not the same data type'
    return 'same data type'

In [168]:
is_same_data_type([2, 34, 2, 'd'])

'not the same datatype'

In [170]:
def most_spoken_languages(countries):
    st = []
    for dct in countries:
        for key in dct:
            if key == 'languages':
                for language in dct[key]:
                    st.append(language)
    print(len(set(st)))
    lang = []
    for i in set(st):
        lang.append((i, st.count(i)))
    lang.sort(key = lambda x: x[1])
    lang = lang[::-1]
    return lang[:10]

In [171]:
def most_populated_countries(countries):
    population = []
    for dct in countries:
        population.append((dct['name'], dct['population']))

    population.sort(key = lambda x: x[1])
    population = population[::-1]
    return population[:10]