Exercise: level 1

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [7]:
print('length of it_companies: ', len(it_companies))
it_companies.add('Tweeter')

length of it_companies:  7

In [8]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Tweeter'}

In [9]:
it_companies.update({'Yahoo', 'Baidu'})

In [10]:
it_companies

{'Amazon',
 'Apple',
 'Baidu',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Tweeter',
 'Yahoo'}

In [11]:
it_companies.remove('Yahoo')
it_companies

{'Amazon',
 'Apple',
 'Baidu',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Tweeter'}

Difference between remove and discard is that remove output error when the element to be removed is not found in the set
while discard does not print error.

Exercise: level 2

In [21]:
print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))

del A
del B

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

Exercise: level 3

In [28]:
age_lt = set(age)
if len(age) > len(age_lt):
    print('age list is bigger than age set')
else:
    print('age set is bigger than age list')

age list is bigger than age set

string: a string is a sequence of characters. For example, "hello" is a string containing a sequence of characters 'h', 'e', 'l', 'l', and 'o'.

list can be defined as a collection of values or items of different types. Python lists are mutable type which implies that we may modify its element after it has been formed. The items in the list are separated with the comma (,) and enclosed with the square brackets [].

Tuple: A Tuple is a collection of Python objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists that are mutable.

Set: A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

In [33]:
txt = 'I am a teacher and I love to inspire and teach people'
txt = txt.split()
print('There are {} uniques words in the text'.format(len(set(txt))))

There are 10 uniques words in the text