Exercises: Day 13

1. Filter only negative and zero in the list using list comprehension

In [26]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
print([i for i in numbers if i <= 0])

[-4, -3, -2, -1, 0]

2. Flatten the following list of lists of lists to a one dimensional list :

In [29]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
print([number for mat in list_of_lists for row in mat for number in row])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Using list comprehension create the following list of tuples:

In [44]:
tupples = [(i, 1, i, i**2, i**3, i**4, i**5) for i in range(11)]
tupples

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

In [54]:
import re
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
new_list = [[country_i.upper(), re.findall('\w\w\w', country_i)[0].upper(), country_j.upper()] for lists in countries for country_i, country_j in lists]
print(new_list)

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [60]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
dict_countries = [{'Country': country.upper(),
                  'City': city.upper()}
                  for list in countries for country, city in list]
dict_countries

[{'Country': 'FINLAND', 'City': 'HELSINKI'},
 {'Country': 'SWEDEN', 'City': 'STOCKHOLM'},
 {'Country': 'NORWAY', 'City': 'OSLO'}]

In [63]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
conc_names = [first_name + ' ' + last_name for list in names for first_name, last_name in list]
conc_names

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']