In [20]:
# Q1. Concatenate the string 'Thirty', 'Days', 'Of', 'Python' to a single string, 'Thirty Days Of Python'.
s1 = 'Thirty'
s2 = 'Days'
s3 = 'of'
s4 = 'python'

print(s1 + ' ' + s2 + ' ' + s3 + ' ' + s4)

Thirty Days of python

In [21]:
# Q2. Concatenate the string 'Coding', 'For' , 'All' to a single string, 'Coding For All'.
s1 = 'coding'
s2 = 'for'
s3 = 'All'

print(s1 + ' ' + s2 + ' ' + s3)

coding for All

In [35]:
# Q3. Declare a variable named company and assign it to an initial value "Coding For All".
company = 'Coding For All'

In [23]:
# Q4. Print the variable company using print().
print(company)

Coding For All

In [24]:
# Q5. Print the length of the company string using len() method and print().
print(len(company))

14

In [25]:
# Q6. Change all the characters to uppercase letters using upper() method.
print(company.upper())

CODING FOR ALL

In [26]:
#Q7. Change all the characters to lowercase letters using lower() method.
print(company.lower())

coding for all

In [27]:
# Q8. Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding for all
Coding For All
cODING fOR aLL

In [28]:
#Q9. Cut(slice) out the first word of Coding For All string.
print(company.split()[0])

Coding

In [29]:
#Q10. Check if Coding For All string contains a word Coding using the method index, find or other methods.
print(company.index('Coding'))

0

In [30]:
# Q11. Replace the word coding in the string 'Coding For All' to Python.
company = company.replace('Coding', 'Python')
print(company)

Python For All

In [31]:
#Q12. Change Python for Everyone to Python for All using the replace method or other methods.
print(company.replace('All', 'Everyone'))

Python For Everyone

In [32]:
# Q13. Split the string 'Coding For All' using space as the separator (split()) .
company = company.split()
print(company)

['Python', 'For', 'All']

In [33]:
# Q14. "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" split the string at the comma.
techies = "Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon" 
techies.split(',')

['Facebook', ' Google', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [36]:
#Q15. What is the character at index 0 in the string Coding For All.
company = 'Coding For All'
print(company[0])

C

In [ ]:
#Q16.